#wnd_box {
    background: #ffffff;
    z-index: 10;
    -webkit-box-shadow: 0 0 9px #313131;
    -moz-box-shadow: 0 0 9px #313131;
    box-shadow: 0 0 9px #313131;
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;

    #completion_block {
        width: 336px;
        margin: 0 auto;

        #title_message {
            background: #eae9e9;
            color: #767676;
            text-shadow: 0 1px 0 #f1f1f1;
            border-radius: 3px;
            margin-bottom: 10px;

            #title_message_inner {
                font-size: 13px;
                padding: 15px;
            }
        }

        #form {
            margin-top: 10px;

            #form_error {
                display: none;
                margin-bottom: 25px;
            }

            .error {
                width: 321px;
                font-size: 12px;
                margin-top: 5px;
                color: #8b0108;
                line-height: 18px;
            }

            .field_title {
                margin-bottom: 10px;
                font-size: 15px;
            }

            .field_input {
                margin-bottom: 20px;

                input {
                    width: 321px;
                    height: 25px !important;
                    padding-left: 8px !important;
                    font-size: 12px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    -webkit-transition: all 0.2s ease-in-out;
                    -moz-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                    -ms-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;

                    &:focus {
                        border: 1px solid #546f89;
                        -webkit-box-shadow: 0 0 5px #385169;
                        -moz-box-shadow: 0 0 5px #385169;
                        box-shadow: 0 0 5px #385169;
                    }
                }
            }

            #completion_button {
                width: 305px;
            }
        }
    }
}

#wnd_box_header_center_close {
    text-align: right;
}

#wnd_box_text {
    font-size: 11px;
    margin-top: 5px;
}

.div_input {
    font-size: 12px;
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    padding: 4px 4px 5px 6px;
    height: 13px;
    outline: none;
}

#wnd_box_text input {
    &[type="text"], &[type="password"] {
        background: #ffffff;
        border: 1px solid #C0CAD5;
        color: #444444;
        height: 26px !important;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 12px !important;
        padding-left: 8px !important;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
        outline: none;
    }
}

#wnd_box_header_left_text input {
    &[type="text"], &[type="password"] {
        background: #ffffff;
        border: 1px solid #C0CAD5;
        color: #444444;
        height: 26px !important;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 12px !important;
        padding-left: 8px !important;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
        outline: none;
    }
}

#wnd_box_text input {
    &[type="text"]:focus, &[type="password"]:focus {
        border: 1px solid #546f89;
        -webkit-box-shadow: 0 0 5px #385169;
        -moz-box-shadow: 0 0 5px #385169;
        box-shadow: 0 0 5px #385169;
    }
}

#wnd_box_header_left_text input {
    &[type="text"]:focus, &[type="password"]:focus {
        border: 1px solid #546f89;
        -webkit-box-shadow: 0 0 5px #385169;
        -moz-box-shadow: 0 0 5px #385169;
        box-shadow: 0 0 5px #385169;
    }
}

#wnd_box_header_left_text {
    textarea {
        display: block;
        padding-left: 8px !important;
        font-size: 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:focus {
            border: 1px solid #546f89;
            -webkit-box-shadow: 0 0 5px #385169;
            -moz-box-shadow: 0 0 5px #385169;
            box-shadow: 0 0 5px #385169;
        }
    }

    .form {
        .title {
            font-size: 12px;
            font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
            font-weight: bold;
            color: #385169;
        }

        .title_help {
            font-size: 13px;
            color: gray;
        }

        .field {
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .error {
            margin-top: 5px;
            color: #8b0108;
            line-height: 18px;
        }
    }
}

#box_error {
    display: none;
    margin-bottom: 25px;

    .error_msg {
        font-size: 12px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
}

#wnd_box_header_left_head {
    overflow: hidden;
    background: #385169;
    border-top: 1px solid #435f7a;
    border-bottom: 1px solid #2f465d;
    padding: 20px;
}

#wnd_box_header_left_head_title {
    float: left;
    color: #ffffff;
    font-size: 13px;
}

#wnd_box_header_left_head_closed {
    float: right;

    a {
        font-size: 12px;
        color: #ffffff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#wnd_box_header_left_text {
    font-size: 13px;
    line-height: 18px;
}

#wnd_box_header_left_text_inner {
    padding: 20px;
}

#box_button_error {
    display: none;
    margin-left: 10px;
    color: #830101;
    font-size: 12px;
    font-weight: bold;
}

#wnd_box_header_left_text .button_submit {
    display: inline-block;
    background: #385169;
    padding: 8px;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #45607a;
    }

    &:active {
        background: #31485e;
        -webkit-box-shadow: inset 0 21px 6px -20px #1d2d3c;
        -moz-box-shadow: inset 0 21px 6px -20px #1d2d3c;
        box-shadow: inset 0 21px 6px -20px #1d2d3c;
    }
}

.div_input {
    background: #ffffff;
    border: 1px solid #C0CAD5;
    color: #444444;
    height: 26px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px !important;
    padding-left: 8px !important;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    outline: none;
}

.div_input:focus {
    border: 1px solid #546f89;
    -webkit-box-shadow: 0 0 5px #385169;
    -moz-box-shadow: 0 0 5px #385169;
    box-shadow: 0 0 5px #385169;
}
