#restore_inner {
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 360px;

    .restore_select {
        width: 100%;
        list-style: none;
        margin-bottom: 8px;
        margin-top: 15px;

        li {
            margin-bottom: 15px;
        }

        .restore_select_block {
            background: #FFF;
            border: 1px solid #c9d7dc;
            border-radius: 4px;
            height: 65px;
            cursor: pointer;
            display: block;
            text-decoration: none;

            &:hover {
                color: #fff;
                -webkit-transition: all 150ms;
                transition: all 150ms;
            }

            &.vk:hover {
                background: #6b9bd2;
                border: 1px solid #6b9bd2;
            }

            &.vk:hover .socials.vk i {
                background-position: -31px 0;
            }

            &.steam:hover {
                background: #424242;
                border: 1px solid #424242;
            }

            &.steam:hover .socials.steam i {
                background-position: -31px -31px;
            }

            &.mail:hover {
                background: #ee5c44;
                border: 1px solid #ee5c44;
            }

            &.mail:hover .socials.mail i {
                background-position: -31px -62px;
            }

            .name {
                font-weight: bold;
                font-size: 14px;
                padding-top: 13px;
            }

            .desc {
                padding-top: 3px;
                font-size: 12px;
                opacity: .6;
            }

            .icon {
                float: left;
                width: 65px;
                height: 65px;

                i {
                    display: block;
                }

                &.socials {
                    i {
                        width: 30px;
                        height: 30px;
                        margin: 17px 19px;
                        background: url(../../images/restore_icons_socials.png);
                    }

                    &.vk i {
                        background-position: 0 0;
                    }

                    &.steam i {
                        background-position: 0 -31px;
                    }

                    &.mail i {
                        background-position: 0 -62px;
                    }
                }
            }
        }
    }

    #restore_new_password, #restore_new_password_repeat, #login {
        width: 347px;
    }
}

#restore_inner_help {
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
}

#form_restore {
    margin-top: 0;

    #form_restore_error {
        display: none;
        margin-top: 10px;
        width: 360px;
    }

    .field_title {
        color: gray;
        margin-bottom: 10px;
        font-size: 13px;
    }

    .field_input {
        margin-bottom: 10px;

        .error {
            width: 327px;
            font-size: 12px;
            margin-top: 5px;
            color: #8b0108;
            line-height: 18px;
        }

        .field_help {
            margin-top: 5px;
            font-size: 12px;
            color: #919090;
        }
    }

    #form_mail {
        display: none;

        #form_mail_error {
            display: none;
            margin-bottom: 10px;
            width: 360px;
        }
    }
}

#restore_submit_button {
    text-align: center;
    width: 329px;
    margin-top: 5px;
}
