.blue_button_wrap {
    display: inline-block;
    cursor: pointer;
    margin-right: 1px;
    background: #0b67a0;
    border: 1px solid #075788;
    color: #e9edf5;
    text-shadow: 0 1px 0 #034d7b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.blue_button {
    overflow: hidden;
    height: 16px;
    border: 1px solid #0b67a0;
    border-top: 1px solid #0d72b1 !important;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 6px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.blue_button_wrap {
    &:hover {
        background: #0c71af;
    }

    &:active {
        background: #075e93;

        .blue_button {
            background: #075e93;
            border-top: 1px solid #0b67a0 !important;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }
    }
}

.blue_button_arrow_right, .green_button_arrow_right {
    display: inline-block;
    margin-left: 3px;
    background: url('../images/right_link.png');
    width: 4px;
    height: 8px;
}

.green_button {
    display: inline-block;
    background: #2b8b3a;
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #319741;
    }

    &:active {
        background: #268335;
        -webkit-box-shadow: inset 0 21px 6px -20px #11561c;
        -moz-box-shadow: inset 0 21px 6px -20px #11561c;
        box-shadow: inset 0 21px 6px -20px #11561c;
    }
}

.gray_button {
    display: inline-block;
    background: #898989;
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #989797;
    }

    &:active {
        background: #7f7f7f;
        -webkit-box-shadow: inset 0 21px 6px -20px #646464;
        -moz-box-shadow: inset 0 21px 6px -20px #646464;
        box-shadow: inset 0 21px 6px -20px #646464;
    }
}

.black_button {
    display: inline-block;
    background: #2d2d2d;
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #424141;
    }

    &:active {
        background: #252525;
        -webkit-box-shadow: inset 0 21px 6px -20px #0b0b0b;
        -moz-box-shadow: inset 0 21px 6px -20px #0b0b0b;
        box-shadow: inset 0 21px 6px -20px #0b0b0b;
    }
}

.red_button {
    display: inline-block;
    background: #990606;
    padding: 8px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #af0404;
    }

    &:active {
        background: #7d0202;
        -webkit-box-shadow: inset 0 21px 6px -20px #450101;
        -moz-box-shadow: inset 0 21px 6px -20px #450101;
        box-shadow: inset 0 21px 6px -20px #450101;
    }
}
