* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: #dee7eb;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 12px;
    font-family: 'PT Sans', tahoma;
    font-weight: normal;
}

input {
    &[type="text"], &[type="password"] {
        background: #fff;
        color: #444;
        border: 1px solid #c0cad5;
        font-size: 12px;
        font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
        padding: 4px 4px 5px 6px;
        height: 25px;
        outline: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    &[type="text"].disabled {
        background: #ececec;
        color: #a2a1a1 !important;
    }

    &:focus {
        border: 1px solid #546f89;
        -webkit-box-shadow: 0 0 5px #385169;
        -moz-box-shadow: 0 0 5px #385169;
        box-shadow: 0 0 5px #385169;
    }
}

textarea {
    background: #fff;
    color: #444;
    border: 1px solid #c0cad5;
    font-size: 11px;
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    padding: 4px 4px 5px 6px;
    height: 40px;
    resize: none;
    outline: 0;
}

input {
    &[type="button"], &[type="submit"] {
        font-weight: normal;
        font-size: 12px;
        font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
        padding: 8px;
    }
}

a {
    text-decoration: none;
    outline: 0;
}

ul {
    .li {
        display: inline-block;
    }

    display: inline-block;
    list-style-type: disc;

    li {
        color: #4b6887;

        span {
            color: #191919 !important;
        }
    }
}

h2.bb {
    display: inline-block;
    color: #46607d;
    font-size: 15px;
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #686868
}

::-webkit-scrollbar-thumb:hover {
    background: #385169
}

h3.bb {
    display: inline-block;
    color: #46607d;
    font-size: 13px;
    font-weight: normal;
}

.section.bb {
    margin-bottom: 5px;
    color: #818181;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 2px;
}

.form {
    .error {
        margin-top: 5px;
        color: #8b0108;
        line-height: 18px;
        font-size: 13px;
    }

    .msg, .auth_msg {
        display: none;
        margin-bottom: 25px;
    }
}

#content {
    width: 960px;
    margin: 0 auto;
    padding-top: 25px !important;
}

#page {
    overflow: hidden;
    position: relative;
    min-height: 100%;
}

#pages {

    .block_wrap {
        border-bottom: 1px solid #b9c9cf;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        .title {
            background: #eff4f6;
            border: 1px solid #c9d7dc;
            color: #515658;
            text-shadow: 0 1px 0 #fff;
            padding: 15px;
            font-size: 15px;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    }

    .block {
        background: #ffffff;
        border-left: 1px solid #c9d7dc;
        border-right: 1px solid #c9d7dc;
        border-bottom: 1px solid #c9d7dc;
        padding: 15px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        img {
            max-width: 805px;
        }

        &.nopad {
            padding: 0 !important;
        }
    }
}

#auth_submit_button {
    width: 50px;
    text-align: center
}

#auth_reg_button {
    margin-left: 2px;
    width: 85px;
    text-align: center
}

.not_found {
    color: #515658;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    line-height: 10px;
    font-size: 14px;
    background: #fff;
    border-bottom: 1px solid #b9c9cf;

    .not_found_block {
        padding: 36px 20px;
        border-left: 1px solid #c9d7dc;
        border-right: 1px solid #c9d7dc;
        border-bottom: 1px solid #c9d7dc;

        .not_found_cover {
            height: 155px;
            background: url(../images/cat_not_found.png) no-repeat 50% 0;
        }
    }
}

.error_msg {
    background: #FFEFE8;
    font-size: 13px;
    border: 1px solid #e9d1c6;
    padding: 8px 11px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ok_msg {
    background: #c7facf;
    font-size: 13px;
    border: 1px solid #b6ebbf;
    padding: 8px 11px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.yellow_msg {
    background: #f7f1d5;
    border: 1px solid #e8e1bc;
    font-size: 13px;
    padding: 8px 11px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.universal_block_wrap {
    border-bottom: 1px solid #b9c9cf;

    &:last-child {
        margin-bottom: 0;
    }

    .universal_block {
        border-left: 1px solid #c9d7dc;
        border-right: 1px solid #c9d7dc;
        border-bottom: 1px solid #c9d7dc;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .title {
            background: #eff4f6;
            border-top: 1px solid #eff4f6 !important;
            border-bottom: none !important;
            color: #515658;
            text-shadow: 0 1px 0 #fff;
            padding: 13px;
            font-size: 15px;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            .link {
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                -webkit-font-smoothing: subpixel-antialiased;
                -moz-osx-font-smoothing: auto;
                display: inline-block;
                margin: 0;
                padding: 0;
                zoom: 1;
                cursor: pointer;
                white-space: nowrap;
                outline: none;
                vertical-align: top;
                text-decoration: none;
                color: #385169;
                border: 0;
                box-sizing: border-box;
                background: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
        }

        .universal_block_inner {
            padding: 15px;
            background: #fff;

            .friends_list {
                margin: 0 -1px 0;
                list-style: none;

                .friend {
                    width: 63px;
                    margin-right: 15px;

                    .avatar {
                        height: 63px;
                        width: 63px;
                        margin-bottom: 5px;

                        img {
                            height: 63px;
                            width: 63px;
                            border-radius: 3px;
                            overflow: hidden;
                        }
                    }

                    .name {
                        text-align: center;
                        width: 63px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;

                        a {
                            color: #515658;
                            text-shadow: 0 1px 0 #fff;
                            font-size: 13px;
                        }
                    }

                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }

                    &:nth-child(2) {
                        margin-bottom: 10px;
                    }

                    &:nth-child(3) {
                        margin-right: 0;
                        margin-bottom: 10px;
                    }

                    &:nth-child(6) {
                        margin-right: 0;
                    }
                }
            }
        }

        .bottom_button {
            background: #edf1f4;
            text-shadow: 0 1px 0 #fff;
            padding: 15px;
            text-align: center;
            cursor: pointer;
            color: #515658;
            font-size: 14px;
            margin-top: -10px;

            &:hover {
                background: #dee5ec;
            }
        }
    }
}

#content_left {
    width: 250px;
}

#content_right {
    width: 680px;
}

.profile_post_wrap {
    margin: 25px 0 0;
    background: #ffffff;
    border-bottom: 1px solid #b9c9cf;

    .profile_submit_post_box {
        position: relative;
        border-left: 1px solid #c9d7dc;
        border-right: 1px solid #c9d7dc;
        border-bottom: 1px solid #c9d7dc;

        &.shown {

            div.submit_post_inited, div.ph_input {
                min-height: 80px!important;
                max-height: none!important;
            }

            .profile_submit_post {
                display: block;
            }
        }

        .profile_post_field_user_link {
            display: block;
            height: 28px;
            float: left;
            position: relative;

            .profile_post_field_user_image {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                transform-style: preserve-3d;
                transition: transform 0.3s ease;
                backface-visibility: hidden;
                transform: rotateY(0deg);
                position: absolute;
                top: 12px;
                left: 20px;
            }
        }

        .profile_post_field_wrap {
            position: relative;
            margin-left: 48px;

            .profile_submit_post_field {
                vertical-align: top;
                overflow: hidden;
                width: 100%;
                min-height: 52px;
                max-height: 52px;
                padding: 16px 20px 16px 12px;
                border: 0;
                line-height: 1.462;
                word-wrap: break-word;
                resize: none;
                box-sizing: border-box;
                color: #000;
                margin: 0;
                -webkit-appearance: none;
                font-size: 13px;
                outline: none;
            }

            .placeholder {
                position: relative;
                z-index: 3;
                cursor: text;
                pointer-events: none;

                .ph_input {
                    vertical-align: top;
                    overflow: hidden;
                    width: 100%;
                    min-height: 52px;
                    max-height: 52px;
                    padding: 16px 20px 16px 12px;
                    border: 0;
                    border-radius: 4px;
                    line-height: 1.462;
                    word-wrap: break-word;
                    resize: none;
                    box-sizing: border-box;
                    margin: 0;
                    position: absolute;
                    z-index: 3;
                    bottom: 0;
                    font-size: 13px;

                    .ph_content {
                        padding: 0;
                    }
                }
            }
        }

        .profile_submit_post {
            display: none;
            background: #eff4f6;
            border-top: 1px solid #c9d7dc;
            padding: 13px 20px 12px;
            border-radius: 0 0 4px 4px;

            .add_post_button_wrap {
                position: relative;

                #add_wall {
                    width: 85px;
                    text-align: center;
                }
            }
        }

        .add_media {
            float: left;
            padding: 3px 0 0;
            position: relative;
            margin-left: -3px;

            .media_selector {

                >.ms_item {
                    float: left;
                    width: 22px;
                    height: 22px;
                    padding: 0 0 0 22px;
                    margin-right: 4px;
                    box-sizing: border-box;
                    overflow: hidden;
                    position: relative;
                    display: block;
                    outline: none;
                    cursor: pointer;

                    &:hover:before {
                        opacity: 1
                    }

                    &:active {
                        top: 1px;
                    }

                    &:before {
                        position: absolute;
                        left: 5px;
                        content: "";
                        width: 22px;
                        height: 22px;
                        background: url(../images/post_add_icon.png) no-repeat;
                        opacity: 0.7;
                    }

                    &:before {
                        left: 0;
                    }
                }

                .ms_item_photo {
                    &:before {
                        background-position: center 3px;
                    }
                }

                .ms_item_audio {
                    &:before {
                        background-position: center -17px;
                    }
                }
            }
        }

        .suggest {
            padding: 12px 20px;
            border-top: 1px solid #e7e8ec;
            position: relative;
            cursor: pointer;
            height: 40px;

            &:after, &:before {
                bottom: 100%;
                left: 34px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: hsla(0, 0%, 100%, 0);
                border-bottom-color: #fff;
                border-width: 5px;
                margin-left: -5px
            }

            &:before {
                border-color: rgba(231, 232, 236, 0);
                border-bottom-color: #e7e8ec;
                border-width: 6px;
                margin-left: -6px;
            }

            .suggest_close {
                position: absolute;
                top: 12px;
                right: 14px;
                background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%3Cg%20stroke%3D%22%2398A3B3%22%20stroke-linecap%3D%22round%22%20stroke-width%3D%221.6%22%3E%3Cpath%20d%3D%22M7%2017L17%207M17%2017L7%207%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
                width: 24px;
                height: 24px;
                opacity: 0.7;
            }

            .suggest_link {
                .suggest_image {
                    background-image: url(../images/profile/comment-icon.png);
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    background-size: cover;
                    background-position: 50%;
                    border-radius: 4px;
                }

                .suggest_info {
                    width: 340px;
                    margin-left: 52px;
                    margin-right: 25px;
                    line-height: 19px;
                    font-size: 14px;
                    color: #515658;
                    text-shadow: 0 1px 0 #fff;
                }
            }
        }
    }
}

.no_posts_wrap {
    margin: 25px 0 0;
    color: #515658;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    line-height: 10px;
    font-size: 14px;
    background: #ffffff;
    border-bottom: 1px solid #b9c9cf;

    .no_posts_block {
        padding: 36px 20px;
        border-left: 1px solid #c9d7dc;
        border-right: 1px solid #c9d7dc;
        border-bottom: 1px solid #c9d7dc;

        .no_posts_cover {
            height: 97px;
            background: url(../images/profile/no_posts.png) no-repeat 50% 0;
            opacity: 0.75;
        }
    }
}

.feed_list {
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif;

    .feed_preloader {
        display: none;
        margin: 25px 0 0;
        text-align: center;

        .upload > span {
            width: 10px;
            height: 10px;
            margin: 0 5px 1px 0;
        }
    }

    .feed_list_item {
        z-index: 2;
        background-color: #ffffff;
        border: 1px solid #c9d7dc;
        margin: 25px 0 0;

        .feed_list_item_header {
            padding: 15px 15px 0;
            display: flex;
            align-items: center;
            white-space: nowrap;

            .avatar {
                position: relative;

                a {
                    width: 50px;
                    height: 50px;
                    display: block;
                    box-sizing: border-box;
                    overflow: hidden;
                    background-color: #d7d7d7;
                    border-radius: 50%;
                    flex-shrink: 0;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
            }

            .header_content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-left: 10px;
                position: relative;
                min-height: 50px;

                .user_name {
                    line-height: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                        font-weight: 500;
                        line-height: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-decoration: none;
                        font-size: 14px;
                        color: #385169;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .time_add {
                    line-height: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                        cursor: pointer;
                        color: #6d6a67;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .actions_menu {
                    right: -2px;
                    margin-top: 3px;
                }

                .actions_menu_wrap {
                    cursor: pointer;

                    &.shown .actions_menu {
                        visibility: visible;
                        opacity: 1;
                        display: block!important;
                        top: 31px;
                        pointer-events: auto;
                    }

                    .actions_menu_icons {
                        background: url(https://vk.com/images/post_more.png?1) no-repeat 50%;
                        position: absolute;
                        width: 22px;
                        height: 27px;
                        top: 7px;
                        right: 0;
                        cursor: pointer;
                        outline: none;

                        .blind_label {
                            width: 1px;
                            height: 1px;
                            clip: rect(1px,1px,1px,1px);
                            opacity: 0;
                            outline: none;
                            position: absolute;
                            overflow: hidden;
                        }
                    }

                    .actions_menu {
                        font-weight: 400;
                        -webkit-font-smoothing: subpixel-antialiased;
                        -moz-osx-font-smoothing: auto;
                        position: absolute;
                        visibility: hidden;
                        min-width: 150px;
                        max-width: 250px;
                        top: 51px;
                        right: -21px;
                        background: #ffffff;
                        z-index: 5;
                        border: 1px solid #c9d7dc;
                        padding: 4px 0;
                        border-radius: 4px;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
                        opacity: 0;
                        transition: opacity 100ms linear,top 100ms linear,bottom 100ms linear,visibility 100ms linear;
                        pointer-events: none;

                        &:after,&:before {
                            position: absolute;
                            pointer-events: none;
                            border: solid transparent;
                            content: "";
                            height: 0;
                            width: 0;
                            bottom: 100%;
                            right: 30.5px
                        }

                        &:before {
                            border-width: 6px;
                            margin: 0 -6px;
                            border-bottom-color: #c5d0db
                        }

                        .actions_menu_item {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                            white-space: nowrap;
                            position: relative;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 15px;
                            color: #2a5885;
                            outline: none;

                            &:hover {
                                text-decoration: none;
                                background-color: #e4eaf0
                            }
                        }
                    }
                }
            }
        }

        .feed_content {
            display: flex;
            flex-direction: column;
            padding: 0 15px 15px;
            margin-top: 15px;

            .text_wrap {
                overflow-wrap: break-word;
                overflow: hidden;
                font-size: 13px;
                line-height: 20px;
                padding: 0 0 15px;
            }

            .like_wrap {
                padding: 0;

                .like_c {
                    border-top: 1px solid #c9d7dc;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    position: relative;
                    padding: 10px 0 0 0;

                    .like_btns {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-align: center;
                        align-items: center;

                        .like_btn.like,.like_btn:first-child {
                            margin-left: -3px;
                        }

                        .like_btn {
                            margin-left: 21px;
                            cursor: pointer;
                            text-decoration: none!important;
                            height: 26px;
                            padding: 0 3px;
                            box-sizing: border-box;
                            white-space: nowrap;
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-align: center;
                            align-items: center;

                            .like_button_icon {
                                width: 24px;
                                height: 24px;
                                background: no-repeat 50%/contain;
                                opacity: 0.7;
                                transition: opacity 100ms ease-in-out;
                                -ms-flex: 0 0 auto;
                                flex: 0 0 auto;
                            }

                            .like_button_label {
                                font-size: 14px;
                                line-height: 16px;
                                height: 16px;
                                overflow: hidden;
                                margin-left: 6px;
                                color: #67707a;
                                font-weight: 500;
                                -webkit-font-smoothing: subpixel-antialiased;
                                -moz-osx-font-smoothing: auto;

                                &:empty {
                                    display: none;
                                }
                            }

                            &.like {
                                .like_button_icon {
                                    background-image: url("../images/like.png")
                                }

                                &.empty {
                                    .like_button_count {
                                        margin-left: 0!important;
                                    }
                                }

                                &.active {
                                    .like_button_icon {
                                        background-image: url("../images/like_active.png")
                                    }
                                }
                            }

                            &.comment {

                                .like_button_icon {
                                    background-image: url("../images/comment.png")
                                }
                            }

                            .like_button_count {
                                font-size: 14px;
                                line-height: 16px;
                                height: 16px;
                                overflow: hidden;
                                margin-left: 6px;
                                color: #385169;
                                font-weight: 500;
                                -webkit-font-smoothing: subpixel-antialiased;
                                -moz-osx-font-smoothing: auto;
                                transition: margin-left 100ms linear;
                            }

                            .blind_label {
                                position: absolute;
                                overflow: hidden;
                                width: 1px;
                                height: 1px;
                                clip: rect(1px,1px,1px,1px);
                                opacity: 0;
                                outline: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
