#footer_wrap {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #eff4f6;
    border-top: 1px solid #e8edf0;

    #footer {
        width: 960px;
        margin: 0 auto;
        padding: 18px;
        font-size: 13px;
        color: #515658;
        text-shadow: 0 1px 0 #fff;

        .menu a {
            margin-left: 18px;
            color: #515658;
            text-shadow: 0 1px 0 #fff;

            &.underline {
                border-bottom: 1px solid #385169;
                padding-bottom: 2px;
            }
        }
    }
}
