.none {
    display: none;
}

.br1px {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.br2px {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.br3px {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.br6px {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.br15px {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.br25px {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.br60px {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}

.br80px {
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

.trns2s {
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.trns15s {
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}

.br_round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.gray {
    color: #808080;
}

.link {
    color: #46607d;

    &:hover {
        text-decoration: underline;
    }
}

.clearfix {
    &:before {
        display: table;
        line-height: 0;
        content: "";
    }

    &:after {
        display: table;
        line-height: 0;
        content: "";
        clear: both;
    }
}

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.listing {
    margin-left: 40px;
}

.ff_tahoma {
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.placeholder {
    color: #868485 !important;
}

#black_bg {
    display: none;
    position: fixed;
    background: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.user_select_none {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.no_margin {
    margin: 0!important;
}

.no_margin_bottom {
    margin-bottom: 0!important;
}

.mrtop25 {
    margin: 25px 0 0;
}
