.feed_wrap {
    padding-bottom: 80px;

    .r_menu_wrap {
        margin: 25px 0 0;
        border-bottom: 1px solid #b9c9cf;

        .r_menu_inner {
            background: #ffffff;
            border-top: 1px solid #c9d7dc;
            border-left: 1px solid #c9d7dc;
            border-right: 1px solid #c9d7dc;
            border-bottom: 1px solid #c9d7dc;
            padding-top: 18px;
            padding-bottom: 18px;

            a {
                display: block;
                color: #515658;
                text-shadow: 0 1px 0 #fff;
                font-size: 13px;
                padding: 8px 18px 8px 18px;

                &:hover {
                    text-decoration: none;
                    background: #f6f8f9;
                }

                &.active {
                    background: #eff4f6 !important;
                    border-left: 3px solid #385169;
                    margin-left: -3px;
                }
            }
        }
    }

    #hashtags {
        margin: 25px 0 0;

        .hashtags_list {
            display: flex;
            flex-direction: column;

            a {
                font-weight: 400;
                line-height: 20px;
                text-overflow: ellipsis;
                text-decoration: none;
                color: #385169;
                font-size: 14px;
            }
        }
    }
}

.news_list {
    display: flex;
    flex-wrap: wrap;

    .news_list_item {
        width: 218px;
        margin: 0 7.5px 0;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }

        .news_list_item_item {
            height: 100%;

            .news_list_item_wrapper {
                position: relative;
                border: 1px solid rgba(41,46,65,.09);
                border-radius: 6px;
                -webkit-transition: box-shadow .1s linear;
                transition: box-shadow .1s linear;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;

                &:hover {
                    box-shadow: 0 4px 15px 0 rgba(0,0,0,.08);
                    cursor: pointer;
                }

                .best_bage {
                    position: absolute;
                    background: #e64646;
                    font-size: 13px;
                    color: #fff;
                    line-height: 17px;
                    border-radius: 6px;
                    overflow: hidden;
                    text-align: center;
                    padding: 3.5px 10px;
                    top: 6px;
                    right: -6px;
                    z-index: 1;
                }

                .news_list_item_img {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    overflow: hidden;
                    position: relative;

                    .news_list_item_img_wrapper {
                        height: 0;
                        overflow: hidden;
                        position: relative;
                        outline: none;
                        padding-top: 60%;

                        .news_list_item_image {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .news_list_item_info {
                    border-top: 1px solid rgba(41,46,65,.09);
                    padding: 12px 16px 16px;

                    .news_list_item_title {
                        font-weight: 600;
                        font-size: 14px;
                        color: #222;
                        line-height: 20px;
                    }

                    .news_list_item_description {
                        min-height: 26px;

                        .news_list_item_description_sub {
                            font-size: 13px;
                            color: #939393;
                            line-height: 20px;
                            margin-top: 10px;
                        }

                        .news_list_item_type {
                            padding-top: 11px;
                            min-height: 26px;

                            .news_list_item_type_title {
                                position: absolute;
                                bottom: 16px;
                                font-size: 13px;
                                color: #818c99;
                                line-height: 17px;
                                border: 1px solid rgba(153,162,173,.9);
                                border-radius: 8px;
                                padding: 2px 10px 3px;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}
