#left_menu {

    .left_menu_wrap {
        border-bottom: 1px solid #b9c9cf;

        .block {
            background: #eff4f6 !important;
            border-left: 1px solid #c9d7dc;
            border-right: 1px solid #c9d7dc;
            border-bottom: 1px solid #c9d7dc;

            .nopad {
                padding: 0 !important;
            }
        }
    }

    a {
        display: block;
        color: #46607d;
        font-size: 13px;
        padding: 15px;
        padding-left: 20px !important;
        padding-right: 20px !important;

        &:first-child, &:last-child {
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px
        }

        &.active {
            background: #46607d !important;
            color: #fff
        }

        &:hover {
            background: #d7dfe3
        }
    }
}
