#ft_body_bg {
    background: url('../../images/ft_body_bg.png') fixed no-repeat #36495e;
    background-size: cover;
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    font-size: 12px;
    line-height: 1;

    a {
        color: #2B587A;
        text-decoration: none;
        outline: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .placeholder {
        color: #7c8d9f!important;
    }

    input[type=password], input[type=text] {
        font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
        font-size: 12px
    }
}

#ft_body_bg_inner {
    width: 960px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 40px !important;
}

#ft_logo_company_name {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

//#ft_logo_company_name_new {
//    float: left;
//    height: 46px;
//    width: 118px;
//    background: url('/web/20160613070826im_/http://vkmix.com/images/logo.svg') no-repeat;
//    background-size: cover;
//    background-position-x: -38px;
//}

#ft_logo_slogan {
    display: inline-block;
    margin-left: 3px;
    color: #8393a4;
    font-size: 18px;
    line-height: 46px;
}

#ft_content {
    overflow: hidden;
    margin-top: 85px;
}

#ft_content_description {
    float: left;
    width: 451px;
}

#ft_content_description_main_text {
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;

    a {
        color: #ffffff;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
            text-decoration: none;
            opacity: 0.5;
        }
    }
}

#ft_fast_order_description {
    margin-top: 27px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 22px;

    a {
        color: #62bbf7 !important;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
            text-decoration: none;
            opacity: 0.5;
        }
    }
}

#ft_fast_order_button {
    display: inline-block;
    width: 130px;
    cursor: pointer;
    text-align: center;
    margin-top: 48px;
    font-size: 12px;
    padding: 12px;
    border: 2px solid #62bbf7;
    color: #62bbf7;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: #62bbf7;
        color: #ffffff;
    }

    &:active {
        background: #4ca8e6;
        border: 2px solid #4ca8e6;
        color: #ffffff;
    }
}

#ft_fast_order_arrow {
    background: url('../../images/ft_fast_order_arrow.png') no-repeat;
    width: 118px;
    height: 76px;
    position: absolute;
    margin-left: 180px;
}

#ft_content_auth {
    float: right;
    width: 270px;
}

#ft_auth_title {
    color: #ffffff;
    font-size: 24px;
    line-height: 33px;
}

#ft_auth_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;

    .ft_auth_social_item {
        width: 40px;
        height: 40px;
        border-radius: 7px;
        background: #535e69;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 12px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;

        &.vk {
            background: #4a76a8;
        }

        &.yandex {
            background: #fe110d;
        }

        &.google {
            background: #f1574b;
        }

        &.mail {
            background: #3588c8;
        }

        &.ok {
            background: #f27317;
        }

        &:hover {
            background: #2b343d;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

#ft_auth_fields {
    margin-top: 30px;
    width: 232px;

    input {
        display: block;
        padding-left: 12px !important;
        border: 1px solid #36495e;
        height: 24px;
        font-size: 12px;
        margin-bottom: 10px;
        width: 100%;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-weight: bold;

        &:focus {
            border: 1px solid #46aef4;
        }
    }
}

#ft_auth_buttons {
    overflow: hidden;
    margin-top: 20px;
}

#ft_auth_buttons_auth {
    float: left;
    background: #3498db;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 13px;
    width: 75px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background: #40a5e9;
    }

    &:active {
        background: #2a89c8;
    }
}

#ft_auth_buttons_reg {
    float: right;
    background: #5e7185;
    margin-right: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 13px;
    width: 110px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background: #6a7c90;
    }

    &:active {
        background: #516478;
    }
}

#ft_auth_rules {
    color: #d7dbdf;
    font-size: 11px;
    margin-top: 15px;
    margin-bottom: 3px;

    a {
        color: #d7dbdf;
        border-bottom: 1px solid #d7dbdf;

        &:hover {
            text-decoration: none;
        }
    }
}

#ft_last_password_wrap {
    position: absolute;
    margin-left: 169px;
    color: #a2b5c0;
}

#ft_last_password_wrap_button {
    display: block;
    background: #e8eef1;
    cursor: pointer;
    width: 70px;
    text-align: center;
    border-top: 1px solid #36495e;
    border-bottom: 1px solid #36495e;
    padding: 4px;
    padding-left: 6px !important;
    padding-bottom: 5px !important;
    height: 24px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    &:hover {
        background: #d5e0e6;
    }
}

#ft_last_password_wrap_button_text {
    display: block;
    padding-top: 6px;
    font-size: 12px;
    font-weight: bold;
}

#ft_auth_fast_description {
    margin-top: 120px;

    li {
        display: inline-block;
        width: 230px;
        color: #ffffff;
        list-style: none;

        a {
            color: #ffffff;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &:hover {
                text-decoration: none;
                opacity: 0.5;
            }
        }

        h2 {
            font-size: 14px;
            font-weight: bold;
        }

        h3 {
            font-size: 12px;
            font-weight: normal;
            line-height: 18px;
            margin-top: 10px;
        }
    }
}

#ft_auth_buttons_reg_post {
    width: 224px;
    background: #3498db;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 13px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background: #40a5e9;
    }

    &:active {
        background: #2a89c8;
    }
}

#ft_captcha_overflow {
    overflow: hidden;
    margin-bottom: -10px;
    width: 292px;
}

#ft_captcha_left {
    float: left;
    width: 133px;

    img {
        border: 1px solid #36495e;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        max-width: 100px;
        cursor: pointer;
    }
}

#ft_captcha_right {
    float: left;

    input {
        width: 100px;
        height: 29px;
    }
}

#ft_footer {
    background: #2e4155;
    margin-top: 60px;
    border-top: 4px solid #293b4d;
    padding: 20px;
    text-align: center;

    ul li {
        display: inline-block;
        list-style: none;

        a {
            color: #5a718a;
            font-size: 12px;
            margin-right: 20px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &:hover {
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
}

#ft_footer_copyright {
    color: #516780;
    font-size: 12px;
    margin-top: 15px;
    font-weight: bold;
}

#ft_auth_error {
    display: none;
    color: #e78a8e;
    margin-bottom: 10px;
    line-height: 18px;
}

#live_counter {
    display: none;
}

.wnd_reg_block {
    width: 255px;
    margin: 0 auto;
    text-align: center;

    .wnd_reg_block_description {
        margin-bottom: 10px;
    }

    .wnd_reg_block_form {
        margin-top: 10px;

        .wnd_reg_steam_buttons {
            background: #5e7185;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 10px;
            border-radius: 4px;
            transition: all .2s ease-in-out;
            cursor: pointer
        }

        .wnd_reg_steam_buttons:hover {
            background: #6a7c90
        }

        .wnd_reg_steam_buttons:active {
            background: #516478
        }

        .wnd_steam_icon_left {
            display: inline-block;
            vertical-align: -3px;
            margin-right: 3px;
            background: url('../../images/main/ft_steam_icon.png');
            width: 16px;
            height: 16px;
        }
    }
}
