#header {
    background: #6198b7;
    padding: 8px;
}

#header_inner {
    width: 960px;
    margin: 0 auto;
}

#header_inner_overflow {
    overflow: hidden;
}

#header_inner_left {
    float: left;
}

#header_inner_right {
    float: right;
    margin-top: 0;

    .profile {

        .avatar_wrap {
            width: 45px;
            margin-top: 10px;

            img {
                max-width: 35px;
                max-height: 35px;
                min-height: 35px;
            }

            .upload_preloader {
                display: none;
                transition: opacity .2s;
                background-color: rgba(0, 0, 0, .5);
                position: absolute !important;
                top: 18px;
                width: 35px;
                height: 35px;
                text-align: center;
                cursor: pointer;
                line-height: 34px;
                z-index: 1;
            }
        }

        .info {
            margin-top: 8px;
            max-width: 170px;

            .fullname {
                font-size: 13px;
                color: #f1f1f1;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .logout {
                margin-top: 1px;

                a {
                    border-bottom: 1px solid #f1f1f1;
                    font-size: 12px;
                    color: #f1f1f1;
                    padding-bottom: 2px;

                    &:hover {
                        text-decoration: none;
                        border-bottom: 1px solid #ffffff;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .header_balance {
        margin-top: 9px;

        a {
            height: 36px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: #eff4f6;
            font-size: 12px;
            font-weight: 600;
            color: #385169;
            min-width: 100px;
            padding: 0 7px;
            border-radius: 18px;
            position: relative;
            margin-right: 30px;

            &:hover {
                background: #d1dbde;
            }
        }
    }
}

#header_menu_wrap {
    background: #385169;
}

#header_menu {
    width: 960px;
    margin: 0 auto;
}

ul#header_menu {
    display: block;
}

#header_menu {
    li {
        float: left;
        list-style-type: none;
        list-style: none;
        margin: 0;
        padding: 0;

        &:first-child {
            //margin-left: 4px !important;
        }
    }

    a {
        text-decoration: none !important;
        display: inline-block;
        color: #e9edf5;
        padding: 15px;
        font-size: 13px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: #415a73;
        }

        &:active {
            background: #233649;
        }

        &.active {
            background: #233649 !important;
        }
    }
}

#header_auth_form {
    overflow: hidden;
}

#header_auth_form_fields {
    float: left;

    input {
        width: 130px;
        height: 13px;
        font-size: 11px;
        background: #f0f2f5 !important;
        border: 1px solid #f0f2f5 !important;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:focus {
            background: #fff !important;
            border: 1px solid #6b8ba5 !important;
            -webkit-box-shadow: 0 0 3px #2b587a;
            -moz-box-shadow: 0 0 3px #2b587a;
            box-shadow: 0 0 3px #2b587a;
        }
    }
}

#header_auth_form_fields_overflow {
    overflow: hidden;
    padding: 3px;

    .title {
        color: #e9edf5;
        margin-bottom: 5px;
    }
}

#header_auth_form_login {
    float: left;
}

#header_auth_form_password {
    float: left;
    margin-left: 10px;
}

#header_auth_form_buttons {
    float: left;
    margin-left: 10px;

    .button {
        line-height: 1;
        display: inline-block;
        background: url('../../images/header/auth_buttons_bg.png') #444;
        background-position: 0 0;
        height: 25px;
        color: #fff;
        border: 1px solid #000;
        font-size: 11px;
        padding: 4px 4px 5px 6px;
        height: 13px;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .button_inner {
        padding-top: 1px;
    }

    .button {
        &:hover {
            background-position: 0 -25px;
        }

        &:active {
            background: #201f1f;
        }
    }
}

#header_profile {
    line-height: 1;
    width: 260px;
    height: 50px;
}

#header_profile_avatar_resize {
    width: 50px;
    height: 50px;
}

#header_profile_avatar {
    float: left;
    width: 65px;

    img {
        display: block;
        width: 50px;
        max-height: 100%;
        opacity: .8;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

#header_profile_info {
    float: left;
    margin-top: 1px;
    width: 190px;
}

#header_profile_info_login {
    overflow: hidden;
}

#header_profile_info_login_left {
    float: left;
    color: #e9edf5;
    margin-bottom: 6px;

    a {
        color: #d3dae7;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#header_profile_info_login_right {
    float: right;
}

#header_profile_info_balance a {
    color: #e9edf5;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#header_profile_info_buy_balance {
    margin-top: 5px;

    a {
        color: #e9edf5;
        border-bottom: 1px dotted #e9edf5;
        padding-bottom: 1px;
        text-decoration: none !important;

        &:hover {
            color: #fff;
            border-bottom: 1px solid #fff;
        }
    }
}

.header_profile_icons {
    display: inline-block;
    //background: url('/web/20150829111942im_/https://soojoo.ru/images/header_profile_icons.png') no-repeat;
    width: 16px;
    height: 16px;
    opacity: .7;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }

    &.settings {
        background-position: 0 0;
    }

    &.logout {
        margin-left: 2px;
        background-position: 0 -20px;
    }
}

#header_auth_form_error_msg {
    display: none;
    margin-top: -4px;
    padding-bottom: 4px;
    color: #7a1818;
}

#header_auth_form_fields_restore_link {
    position: absolute;
    background: transparent;
    margin-top: 24px;
    margin-left: -31px;

    a {
        font-size: 11px;
    }
}

#header_auth_form_fields_restore_icon {
    display: inline-block;
    background: url('../../images/header/auth_restore.png') no-repeat;
    width: 16px;
    height: 16px;
    opacity: .8;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

#logo {
    display: inline-block;
    background: url(../../images/logo.png) no-repeat;
    width: 220px;
    height: 50px;
}
