#loading {
    display: none;
    background: #000;
    width: 64px;
    padding: 20px;
    box-shadow: 0 2px 8px 1px #444;
    -moz-box-shadow: 0 2px 8px 1px #444;
    -webkit-box-shadow: 0 2px 8px 1px #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: .6;
}

#header_load {
    display: none;
    position: fixed;
    z-index: 30;
    top: 0;
    border-top: 2px solid #3d5e80;
    -webkit-box-shadow: 0 1px 2px #446384;
    -moz-box-shadow: 0 1px 2px #446384;
    box-shadow: 0 1px 2px #446384
}

#load {
    width: 64px;
    height: 16px;
}

@-webkit-keyframes pr_bt_anim {
    0%, 100% {
        opacity: 0.2;
    }

    30% {
        opacity: 1;
    }
}

@keyframes pr_bt_anim {
    0%, 100% {
        opacity: 0.2;
    }

    30% {
        opacity: 1;
    }
}

.upload {
    > span {
        -webkit-animation-delay: 0s;
        -webkit-animation-duration: 750ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: pr_bt_anim;
        animation-delay: 0s;
        animation-duration: 750ms;
        animation-iteration-count: infinite;
        animation-name: pr_bt_anim;
        background-color: #45688e;
        border-radius: 50%;
        display: inline-block;
        height: 6px;
        margin: 0 3px 1px 0;
        width: 6px;
        outline: 0.1px solid transparent;
    }

    &.upload_white > span {
        background-color: #fff;
    }

    &.upload_blue > span {
        background-color: #62bbf7;
    }

    &.upload_black > span {
        background-color: #5e7185;
    }

    &.upload_feed > span {
        background-color: #385169;
    }

    > span {
        &:nth-child(2) {
            -webkit-animation-delay: 180ms;
            animation-delay: 180ms;
        }

        &:nth-child(3) {
            -webkit-animation-delay: 360ms;
            animation-delay: 360ms;
            margin-right: 0;
        }
    }
}
