#profile {
    display: block;
    padding-bottom: 80px;

    .profile_block {
        position: relative;
        background: #fff;
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

        .profile_cover {
            height: 260px;
            border-radius: 4px 4px 0 0;
            background-position: 50%;
            background-size: cover;
            border: 1px solid #c9d7dc;
            image-rendering: -o-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: optimize-contrast;
            -ms-interpolation-mode: nearest-neighbor;

            &:hover .profile_cover_upload {
                opacity: 1
            }

            .profile_cover_upload {
                cursor: pointer;
                transition: opacity 200ms;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute !important;
                right: 15px;
                top: 15px;
                opacity: 0;
                text-align: center;
                font-size: 12px;
                border-radius: 2px;
                color: #ffffff;

                .attach {
                    display: inline-block;
                    cursor: pointer;
                    line-height: 18px;
                    padding: 5px 10px;

                    &:nth-child(2) {
                        border-left: 1px solid rgba(233, 233, 233, 0.4);
                    }

                    svg {
                        margin-right: 5px;
                        width: 16px;
                        height: 16px;
                        fill: #fff;
                        stroke: none;
                        vertical-align: middle;
                        margin-top: -3px;
                    }
                }
            }
        }

        .profile_cover_info {
            padding: 15px;
            border-left: 1px solid #c9d7dc;
            border-right: 1px solid #c9d7dc;
            border-bottom: 1px solid #c9d7dc;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;

            .profile_cover_counts {
                text-align: center;
                max-height: 69px;
                overflow: hidden;

                .profile_counter {
                    display: inline-block;
                    padding: 4px 15px;

                    &:hover {
                        background: #edf1f4
                    }

                    .count {
                        font-weight: bold;
                        font-size: 19px;
                        color: #385169;
                        padding-bottom: 3px;
                        line-height: 21px;
                    }

                    .label {
                        line-height: 15px;
                        color: #828282;
                    }
                }
            }

            .profile_cover_image {
                position: relative;
                float: left;
                width: 46px;
                height: 46px;
                margin-right: 7px;

                &:hover .profile_cover_image_upload {
                    opacity: 1;
                }

                .profile_img {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    vertical-align: top;
                }

                .upload_preloader {
                    display: none;
                    transition: opacity .2s;
                    background-color: rgba(0, 0, 0, .5);
                    position: absolute !important;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    cursor: pointer;
                    line-height: 48px;
                    z-index: 1;
                    border-radius: 50%;
                }

                .profile_cover_image_upload {
                    transition: opacity 200ms;
                    background-color: rgba(0, 0, 0, 0.5);
                    position: absolute !important;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    cursor: pointer;
                    line-height: 128px;
                    z-index: 1;
                    border-radius: 50%;

                    label {
                        cursor: pointer;
                        background-image: url(../../images/profile/uploadAvatarHover.png);
                        position: relative;
                        display: inline-block;
                        top: -34px;
                        width: 20px;
                        height: 20px;
                    }

                    form {
                        height: 46px;
                    }
                }
            }

            .profile_top {
                overflow: hidden;
                padding: 2px 11px 5px 5px;
                margin: 0 0 -5px 0;

                .profile_name {
                    font-size: 19px;
                    line-height: 25px;
                    font-weight: 400;
                    -webkit-font-smoothing: subpixel-antialiased;
                    -moz-osx-font-smoothing: auto;
                    margin: -1px 0 -1px -1px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-left: 1px;
                    color: #000;
                }

                .profile_status {
                    font-size: 13px;
                }
            }
        }
    }

    .profile_content {
        margin-top: 25px;

        .profile_content_left {
            width: 250px;

            .profile_info_wrap {
                border-bottom: 1px solid #b9c9cf;

                .profile_info_block {
                    border-left: 1px solid #c9d7dc;
                    border-right: 1px solid #c9d7dc;
                    border-bottom: 1px solid #c9d7dc;
                    color: #515658;
                    text-shadow: 0 1px 0 #ffffff;
                    font-size: 14px;

                    .profile_info_block_inner {
                        padding: 15px;
                        background: #ffffff;

                        .profile_info_box {
                            display: -webkit-flex;
                            display: flex;
                            -webkit-align-items: center;
                            align-items: center;
                            margin-bottom: 15px;

                            .profile_info_image {
                                margin-right: 14px;
                                width: 24px;
                                height: 24px;
                                background-position: 50%;
                                background-repeat: no-repeat;

                                &.calendar {
                                    background-image: url(../../images/profile/calendar.png);
                                }

                                &.location {
                                    background-image: url(../../images/profile/location.png);
                                }

                                &.travel {
                                    background-image: url(../../images/profile/travel.png);
                                }
                            }

                            .profile_info_text {
                                line-height: 19px;
                                max-width: 230px;
                                color: #385169;
                            }
                        }

                    }
                }

                .bottom_button {
                    background: #edf1f4;
                    text-shadow: 0 1px 0 #fff;
                    padding: 15px;
                    margin-top: -15px;
                    text-align: center;
                    cursor: pointer;
                    color: #515658;
                    font-size: 14px;

                    &:hover {
                        background: #dee5ec;
                    }
                }
            }

            .profile_friends_wrap {
                margin: 25px 0 0;
                border-bottom: 1px solid #b9c9cf;

                .profile_friends_block {
                    border-left: 1px solid #c9d7dc;
                    border-right: 1px solid #c9d7dc;
                    border-bottom: 1px solid #c9d7dc;
                    -webkit-border-top-left-radius: 4px;
                    -webkit-border-top-right-radius: 4px;
                    -moz-border-radius-topleft: 4px;
                    -moz-border-radius-topright: 4px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    .title {
                        background: #eff4f6;
                        border-top: 1px solid #eff4f6 !important;
                        border-bottom: none !important;
                        color: #515658;
                        text-shadow: 0 1px 0 #ffffff;
                        padding: 13px;
                        font-size: 15px;
                        -webkit-border-top-left-radius: 4px;
                        -webkit-border-top-right-radius: 4px;
                        -moz-border-radius-topleft: 4px;
                        -moz-border-radius-topright: 4px;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    .block_inner {
                        padding: 15px;
                        background: #ffffff;
                    }

                    &:nth-child(2) {
                        margin: 25px 0 0;
                    }
                }

                .bottom_button {
                    background: #edf1f4;
                    text-shadow: 0 1px 0 #fff;
                    padding: 15px;
                    text-align: center;
                    cursor: pointer;
                    color: #515658;
                    font-size: 14px;
                    margin-top: -10px;

                    &:hover {
                        background: #dee5ec;
                    }
                }
            }

            .profile_albums {
                margin: 25px 0 0;
                border-bottom: 1px solid #b9c9cf;

                .profile_albums_block {
                    border-left: 1px solid #c9d7dc;
                    border-right: 1px solid #c9d7dc;
                    border-bottom: 1px solid #c9d7dc;
                    -webkit-border-top-left-radius: 4px;
                    -webkit-border-top-right-radius: 4px;
                    -moz-border-radius-topleft: 4px;
                    -moz-border-radius-topright: 4px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    .title {
                        background: #eff4f6;
                        border-top: 1px solid #eff4f6 !important;
                        border-bottom: none !important;
                        color: #515658;
                        text-shadow: 0 1px 0 #ffffff;
                        padding: 13px;
                        font-size: 15px;
                        -webkit-border-top-left-radius: 4px;
                        -webkit-border-top-right-radius: 4px;
                        -moz-border-radius-topleft: 4px;
                        -moz-border-radius-topright: 4px;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    .block_inner {
                        padding: 15px;
                        background: #fff;

                        .album_row {
                            margin: 15px 0 -1px;
                            display: inline-block;
                            vertical-align: top;
                            border-radius: 4px;
                            overflow: hidden;

                            &:hover .album_description {
                                max-height: 60px!important;
                                margin-bottom: 0!important;
                            }

                            &:first-child {
                                margin: 0;
                            }

                            .album_link {
                                position: relative;
                                display: block;

                                .album_thumb_wrap {
                                    width: 218px;
                                    height: 132px;
                                    background-color: #f0f2f5;
                                    text-align: center;
                                    overflow: hidden;

                                    img {
                                        max-width: 218px;
                                        vertical-align: top;
                                    }
                                }

                                .album_title {
                                    font-size: 12.5px;
                                    background: url(../../images/profile/album_top_shadow.png);
                                    color: #fff;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    text-align: left;
                                    padding: 35px 12px 9px;
                                    overflow: hidden;
                                    box-sizing: border-box;

                                    .album_size {
                                        float: right;
                                        font-size: 13.5px;
                                        opacity: 0.9;
                                        margin: -1px 0 0 5px;
                                    }

                                    .album_title_text {
                                        font-weight: 700;
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                        visibility: visible;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        height: 1.2em;
                                    }

                                    .album_description {
                                        max-height: 0;
                                        margin-top: 6px;
                                        margin-bottom: -6px;
                                        line-height: 15px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        transition: max-height 0.2s ease,margin 0.2s ease;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .profile_content_right {
            width: 680px;

            .profile_photos_wrap {
                background: #ffffff;
                border-left: 1px solid #c9d7dc;
                border-right: 1px solid #c9d7dc;
                border-bottom: 1px solid #c9d7dc;

                .profile_photos_block {
                    padding: 10px;

                    .profile_photos_list {
                        text-align: center;

                        .profile_photos_not_found {
                            text-align: center;
                            line-height: 28px;
                            color: #515658;
                            text-shadow: 0 1px 0 #fff;
                            font-size: 14px;
                            cursor: pointer;
                            padding: 5px;

                            &:hover .no_photos_cover {
                                opacity: 1;
                            }

                            .no_photos_cover {
                                height: 50px;
                                background: url(../../images/profile/photo.png) no-repeat 50% 0;
                                opacity: 0.75;
                            }
                        }

                        .square_photo {
                            position: relative;
                            display: inline-block;
                            width: 123px;
                            height: 123px;
                            margin-left: 6px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            -ms-high-contrast-adjust: none;

                            &:nth-child(2) {
                                margin-left: 0;
                            }

                            .blind_label {
                                position: absolute;
                                overflow: hidden;
                                width: 1px;
                                height: 1px;
                                clip: rect(1px, 1px, 1px, 1px);
                                opacity: 0;
                                outline: none;
                            }
                        }

                        .crisp_image {
                            image-rendering: -o-crisp-edges;
                            image-rendering: -webkit-optimize-contrast;
                            image-rendering: optimize-contrast;
                            -ms-interpolation-mode: nearest-neighbor
                        }
                    }
                }
            }
        }
    }
}
